<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <label>Product Name</label>
            <input type="text" class="form-control inpt-field">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <label>product Description</label>
            <p-editor [style]="{ height: '130px' }" />
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <label for="quantity">quantity</label>
            <input type="text" class="form-control inpt-field">
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <label for="price"> price</label>
            <input type="number" class="form-control inpt-field">
        </div>


        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <label for="sku_cod " class="required">SKU Code </label>
            <input type="text" class="form-control inpt-field" placeholder="sku_cod">
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <label for="Instock">Instock</label>
            <select id="inputState" class="form-control inpt-field">
                <option selected>Select</option>
                <option>True</option>
                <option>false</option>
            </select>
        </div>

    </div>


</div>

<button type="button" class="btn btn-success btn-style" [routerLink]="['/product/product-list']">Submit</button>
<button type="button" class="btn btn-danger btn-style" [routerLink]="['/product/product-list']">Cancel</button>