.container-fluid{
    margin-bottom: 20px;
    margin-top: 15px;
    overflow-y: hidden;
}
.btn-style{
    float: right;
    margin-right: 20px;
}
.inpt-field{
    margin-top: 10px;
    height: 50px;

}