<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())" class="btn-custom">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="margin-left: 10px; color: #fff;">Admin</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sideNaveWidth()">
    <mat-nav-list>
      <a mat-list-item *ngFor=" let item of menuItem()" routerLinkActive #rla="routerLinkActive"
        [ngClass]="{'active':rla.isActive}" [routerLink]="item.route" (click)="Breadcrum(item.label)">
        <mat-icon matListItemIcon [ngClass]="{'icon':rla.isActive}">{{item.icon}}</mat-icon>
        <span *ngIf="!collapsed()" [ngClass]="{'label':rla.isActive}">{{item.label}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [style.margin-left]="sideNaveWidth()" >
   
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>