mat-sidenav-container {
  height: calc(100vh - 64px);
  margin-top: 2px;
}
mat-sidenav-content {
  background-color: #fff;
  transition: all 500ms ease-in-out;
}
mat-sidenav {
  background-color: #e9edef;
  transition: all 500ms ease-in-out;
  padding: 10px;
}
mat-toolbar {
  background-color: #173b53;
}
.btn-custom {
  background-color: #173b53;
  border: none;
  cursor: pointer;
  color: #fff;
}

.active {
  background-color: #245778;
  border-radius: 10px;
 }
.label{
  color: white;
}
.icon{
  background-color:#e9ecef;
}