<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <p style="text-align: center;">Total Product</p>
            <p style="text-align: center;">300</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <button type="button" class="btn btn-success btn-style" [routerLink]="['/product/add-edit']">Add Product</button>
            
        </div>
    </div>
</div>

<div>
    <ag-grid-angular [rowData]="rowData" [columnDefs]="colDefs" class="ag-theme-quartz"
        style="height: 500px; width: 98% ; margin-left: 5px;" />
</div>