@import '~@angular/material/theming';

// Define the light theme
@include mat-core();
$light-primary: mat-palette($mat-blue-grey);
$light-accent: mat-palette($mat-light-blue, A200, A100, A400);
$light-warn: mat-palette($mat-red);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

@include angular-material-theme($light-theme);
