html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --footer-background-color: linear-gradient(130deg, #255d80, #87a6b9);
  --save-btn-color: #245778;
  --h1-heading-color: #255d80;
  --login-page-bg: rgba(0, 0, 0, 0.231372519);
  --bg-color-1: #e9edef;
}

.required {
  ::after {
    content: "*";
    color: red;
  }
}
